/* Main menu */

.main-menu {
    justify-content: space-between;
    min-height: 80px;
    width: clamp(40px, 90vw, 1700px);
}

/* logo area */

.main-menu .logo-area {
    width: 35%;
    justify-content: flex-start;
}

.logo-area img {
    height: 100px;
    width: auto;
}

/* title */

.title-area {
    width: 50%;
    align-items: flex-end;
}

/* button-area */

.button-area {
    width: 10%;
    align-items: flex-end;
}

.button-area button {
    color: var(--white);
    background-color: var(--dark-gray);
    font-size: 18px;
}




/* MOBILE */

@media screen and (max-width: 767px) {

    /* top menu */

    .top-menu {
        padding: 0;
    }

    .features-area {
        display: none;
    }

    .currency-area {
        width: 100%;
        padding: 0;
    }

    .currency-switcher {
        gap: 10px;
        justify-content: center;
        padding: 0;
    }

    /* main menu */

    .menu-area {
        width: 100%;
        padding: 5% 3%;
        background-color: #f3f3f3;
    }

    .cart-area {
        width: 35%;
    }

    .cart-area, .logo-area {
        order: -1;
        padding: 2% 3%;
    }

    .menu-area nav {
        justify-content: space-between;
    }

}

