/* Main menu */

.main-menu {
    justify-content: space-between;
    min-height: 80px;
    width: clamp(40px, 90vw, 1700px);
    position: relative;
    z-index: 100;
}

/* logo area */

.main-menu .logo-area {
    width: 35%;
    justify-content: flex-start;
}

.logo-area img {
    height: 100px;
    width: auto;
}

/* title */

.title-area {
    width: 50%;
    align-items: flex-end;
}

/* button-area */

.button-area {
    width: 10%;
    align-items: flex-end;
}

.button-area button {
    color: var(--white);
    background-color: var(--dark-gray);
    font-size: 18px;
}




/* MOBILE */

@media screen and (max-width: 767px) {

    .main-menu {
        height: 50px;
    }

    .logo-area {
        order: -1;
        width: 45%;
    }

    .logo-area img {
        height: 80px;
        width: auto;
    }

    .title-area {
        width: 100%;
        align-items: center;
    }

    .button-area {
        width: 45%;
        align-items: center;
        order: -1;
    }

}

